<div class="container-fluid">
	<!-- Hearding -->
	<div class="row">
		<div class="container">
			<div class="col-md-3">
				<h3>Appointment</h3>
			</div>
		</div>
	</div>
	<!-- header Buttons -->
	<div class="row mb-3">
		<div class="container">
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<button type="button" class="btn btn-primary me-2">Today</button>
					<button type="button" class="btn btn-primary">calander</button>
				</div>
				<div>
					<div class="btn-group" role="group">
						<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
						<label class="btn btn-outline-primary" for="btnradio1">Day</label>

						<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
						<label class="btn btn-outline-primary" for="btnradio2">Week</label>
					</div>
					<button type="button" class="btn btn-primary ms-2 ">Add +</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<app-scheduler-grid
		  [resources]="resources"
		  [appointments]="appointments"
		  [config]="config">
		</app-scheduler-grid>
	</div>
</div>