<div class="container-fluid">
	<!-- Hearding -->
	<div class="row">
		<div class="container">
			<div class="col-md-3">
				<h3>Appointment</h3>
			</div>
		</div>
	</div>
	<!-- header Buttons -->
	<div class="row mb-3">
		<div class="container">
			<div class="d-flex justify-content-between align-items-center">
				<div>
					<button type="button" class="btn btn-primary me-2">Today</button>
					<button type="button" class="btn btn-primary">calander</button>
				</div>
				<div>
					<div class="btn-group" role="group">
						<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
						<label class="btn btn-outline-primary" for="btnradio1">Day</label>

						<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
						<label class="btn btn-outline-primary" for="btnradio2">Week</label>
					</div>
					<button type="button" class="btn btn-primary ms-2 ">Add +</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<app-scheduler-grid
		  [resources]="resources"
		  [appointments]="appointments"
		  [config]="config">
		</app-scheduler-grid>
	</div>
</div>

<!--  -->

				<!-- <tr>
								<td>								
									<tr class="time-column">
										<td [style.height.px]="(config.pxPerMinute * 60)">{{hour}}</td>
										<td *ngFor="let res of resources">
											<tr class="slot" *ngFor="let slot of [].constructor(slotsPerHour); let si = index">
												<td  class=""
													[attr.data-time]="getTime(hour, si)"
													[attr.data-resource]="res"
													(click)="book(res, getTime(hour, si))">
													<ng-container *ngIf="isBooked(res, getTime(hour, si))">
														{{ getAppointment(res, getTime(hour, si)).title }}
													</ng-container>
													<ng-container *ngFor="let app of myappointments">
														<div class="appointment"
															[style.gridRowStart]="getSlotPosition(app).rowStartIndex + 1"
															[style.gridRowEnd]="'span ' + getSlotPosition(app).durationSlots"
															[style.gridColumn]="myresources.indexOf(app.resource) + 2">
															{{app.title}}
														</div>
													</ng-container>
												</td>
											</tr>
										</td>
									</tr>
								</td>
							</tr> -->

							
	<!-- <div class="grid-container row">
		<div class="col" *ngFor="let res of resources">
			<h4 class="text-center">{{res.name}}</h4>
		</div>
	</div>
	<div class="grid-container">
		<div class="time-column">
			<ng-container *ngFor="let slot of timeSlots; let i = index">
				<div class="time-label" [style.height.px]="(config.pxPerMinute * 60)">
					{{slot}}
				</div>
			</ng-container>
		</div>
		<div class="resources d-flex">
			<div class="resource-column" *ngFor="let res of resources">
				<div class="slot" *ngFor="let i of [].constructor(totalMinutes/config.slotMinutes)">
				</div>
				<div *ngFor="let slot of slots" class="appt slot" [ngClass]="slot.isBooked ? slot.type : 'available'"
					[style.top.px]="getTopPx(slot.startMinOffset)"
					[style.height.px]="(config.slotMinutes * config.pxPerMinute)">
				</div>
				<div *ngFor="let appt of appointments" class="appt.type slot" [style.top.px]="getTopPx(appt.start)"
					[style.height.px]="getHeightPx(appt.start, appt.end)">
				</div>
			</div>
		</div>
		<div class="calendar">
			<div class="current-time-line" [style.top.px]="getCurrentOffsetMinutes()"></div>
		</div>
	</div> -->